@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using Dynamicweb.Core
@using System
@using System.Web
@using System.Collections.Generic
@using Dynamicweb.Rapido.Blocks
@using Dynamicweb.Rapido.Blocks.Components.General
@using System.Linq
@using System.Text
@using Dynamicweb.Content.Items
@using Dynamicweb.Rapido.Blocks.Components
@using Dynamicweb.Security.UserManagement
@using Newtonsoft.Json
@{
    // Creating new block for TrackTrace
    Block rizzoTrackAndTraceNumbers = new Block()
    {
        Id = "RizzoDisplayTrackAndTraceNumbers", 
        SortId = 20,
        Template = RizzoDisplayTrackAndTraceNumbers(),
        Design = new Design
        {
            RenderType = RenderType.Column,
            Size = "12"
        }
    };
}

@{
    @helper RizzoDisplayTrackAndTraceNumbers()
    {
        var trackAndTraceUrl = GetString("Ecom:Order.TrackTraceURL");
        var trackAndTraceParameters = GetLoop("TrackTraceParameters").Where(p => !String.IsNullOrEmpty(p.GetString("Ecom:Order.TrackTraceParameter.Value"))).ToList();
        //only has output if url and params exist
        if (trackAndTraceUrl.IsNotNullOrEmpty() && trackAndTraceParameters.Any())
        {
            var rebuildLink = string.Concat(string.Format(GetString("Ecom:Order.TrackTraceURL"), trackAndTraceParameters.ToArray()).Split(new string[] { trackAndTraceParameters.Last().GetString("Ecom:Order.TrackTraceParameter.Value")},StringSplitOptions.None)[0].Replace(",,",""),
                                            trackAndTraceParameters.Last().GetString("Ecom:Order.TrackTraceParameter.Value"));
            var trackAndTraceUrlParts = trackAndTraceUrl.Split('?');
            var showLink = trackAndTraceUrlParts[0].ToLower().StartsWith("http");
            <h4 class="u-margin-top">
                @RenderIcon(new Icon {Prefix = "fas", Name = "fa-plane", LabelPosition = IconLabelPosition.After, Label = Translate("Track and Trace")})
            </h4>
            foreach (var trackAndTraceParameter in trackAndTraceParameters)
            {
                var trackAndTraceParameterCurated = string.Concat(trackAndTraceParameter.GetString("Ecom:Order.TrackTraceParameter.Value"), trackAndTraceParameter.Index < trackAndTraceParameters.Count ? "," : string.Empty);
                if (showLink)
                {
                    <a href="@rebuildLink" target="_blank">
                      @trackAndTraceParameterCurated
                    </a>
                }
                else
                {
                    <span>@trackAndTraceParameterCurated</span>
                }
            }
        }
        
    }
}